@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  :root {
    --principal: #0f172a;
    --light: #e2e8f0;
  }
}

body {
  color: var(--light);
  background: var(--principal);
  overflow-x: hidden;
}

.mouse-tracker-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f0f0;
  position: relative;

  @media (max-width: 768px) {
    display: none;
  }
}

.square {
  width: 600px;
  height: 600px;
  background-color: #0044ff10;
  border-radius: 100%;
  filter: blur(70px);
  position: absolute;
  z-index: -1;
  position: absolute;

  @media (max-width: 768px) {
    display: none;
  }
}
