@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  :root {
    --principal: #14001c;
    --light: #e2e8f0;
  }
}

body {
  color: var(--light);
  background: var(--principal);
  overflow-x: hidden;
}

.mouse-tracker-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #2b003b;
  position: relative;

  @media (max-width: 768px) {
    display: none;
  }
}

.config-scroll {
  overflow-x: auto;
}

/* personalizar scroll */
::-webkit-scrollbar {
  width: 10px;
  height: 8px;
  background-color: #1a0024;
}

::-webkit-scrollbar-thumb {
  background-color: #530072;
  border-radius: 10px;
  height: 10px;
}

.square {
  width: 600px;
  height: 600px;
  background-color: #1a0024;
  border-radius: 100%;
  filter: blur(70px);
  position: absolute;
  z-index: -1;
  position: absolute;

  @media (max-width: 768px) {
    display: none;
  }
}
